
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(217, 146, 209, 0.644), rgba(140, 186, 243, 0.474));
}

.container {
    background-color: rgba(255, 255, 255, 0.544);;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

form {
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 16px;
    border: 1px solid #6362656b;
    border-radius: 4px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

input:focus {
    border-color: #4caf50;
}

button {
    width: 100%;
    background-color: #4caf4fe7;
    color: #fff;
    padding: 14px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}
